{% include "header.html" %}

<div class="container" style="padding-top: 100px;">

    <!--    Site title-->
    <h2 style="color: #526D82; text-align: center; padding-bottom: 25px;">
        Your selected articles!</h2>

    {% if current_user.is_authenticated %}
    <h3><a class="float-right" href="{{url_for('cart')}}" style="color: green; text-decoration: none;">
        <i class="fa fa-1x fas fa-shopping-cart" style="color: #526D82;"></i>
        {{ art_nbr }}
    </a></h3>
    {% endif %}<br><br>

    <div class="row row-cols-1">
        {% for post in all_posts: %}
        {% if post.user_id == current_user.id %}
        <div class="col">
            <div class="" style="">
                <a class="post-a" href="{{ url_for('show_post', post_id=post.id) }}">
                    <img src={{post.img_url1}} class="float-left"
                         style="width: 120px; height: 120px; border-radius: 10%; margin-right: 20px;">
                </a>
                <h5 class="post-subtitle">
                    <a class="post-a" href="{{ url_for('show_post', post_id=post.id) }}"
                       style="text-decoration: none;">
                        {{post.name}}
                    </a>
                </h5>

                {{post.type}}

                <a class="post-a float-right" href="{{ url_for('reduce', post_id=post.id) }}"
                   style="text-decoration: none;"> ➖ </a>

                {% if post.quantity == 0 %}
                <b class="float-right" style="color: red;">{{post.quantity}}</b>
                {% else: %}
                <b class="float-right" style="color: #557A46;">{{post.quantity}}</b>
                {% endif %}

                <a class="post-a float-right" href="{{ url_for('add_to_cart', post_id=post.id) }}"
                   style="text-decoration: none;"> ➕ </a>
                <br>
                ${{ post.article_price }}<br>
                <em style="color: green">{{post.available}}</em>
                <a class="float-right" href="{{url_for('remove', post_id=post.id)}}"
                   style="border-radius: 50%;text-decoration: none;"
                   onmouseout="this.style.color='black'"
                   onmouseover="this.style.color='red'">Remove</a>
                <hr>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <!-- Checkout -->
    <div class="clearfix">
        <a class="btn btn-outline-success float-right" href="{{url_for('checkout')}}"
           style="border-radius: 50%; margin-top: 20px;">checkout</a>
        <h4 class="float-left">
            Total: <i style="color: #4682A9;">${{total}}</i><br>
            Discount: <i style="color: #FF6666;">{{discount}}%</i><br>
            Total due: <i style="color: #5D9C59;">${{total_due}}</i>
        </h4>
    </div>
    <hr>
</div>

{% include "footer.html" %}