{% include "header.html" %}

<div class="container" style="padding-top: 75px;">
    {% if current_user.is_authenticated %}
        <span style="position: absolute; color: red; margin-left: 630px; margin-top: -60px;">{{ art_nbr }}</span>
    {% endif %}
    <!--    Site title-->
    <h4 style="color: #526D82; text-align: center; padding-bottom: 25px;">
        Your selected articles!</h4>

    <!--    Posts layout-->
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-sm-1 g-100">
        {% for post in all_posts: %}
            {% if post.user_id == current_user.id %}
            <div class="col">
                <div class="card" style="border: none !important;">
                    <a class="post-a" href="{{ url_for('show_post', post_id=post.id) }}">
                        <img src={{post.img_url1}} class="card-img-top"
                             style="width: 290px; height: 290px; border-radius: 10%;">
                    </a>

                    <div class="card-body">
                        <h5 class="post-subtitle">
                        <a class="post-a" href="{{ url_for('show_post', post_id=post.id) }}" style="text-decoration: none;">
                            {{post.name}}
                        </a>

                        <a class="post-a float-right" href="{{ url_for('reduce', post_id=post.id) }}"
                           style="text-decoration: none;"> ➖ </a>

                            {% if post.quantity == 0 %}
                                <b class="float-right" style="color: red;">{{post.quantity}}</b>
                            {% else: %}
                                <b class="float-right" style="color: #557A46;">{{post.quantity}}</b>
                            {% endif %}

                        <a class="post-a float-right" href="{{ url_for('add_to_cart', post_id=post.id) }}"
                           style="text-decoration: none;"> ➕ </a>
                        </h5>

                        {{post.type}}
                            <hr>
                        <p class="post-meta">
                            ${{ round(post.article_price, 2) }}<br>
                            {{post.available}}<br>
                            <a class="float-right" href="{{url_for('remove', post_id=post.id)}}"
                           style="border-radius: 50%;text-decoration: none;"
                               onmouseout="this.style.color='black'"
                               onmouseover="this.style.color='red'">Remove</a>
                            <hr>
                        </p>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>

    <!--    New post-->
    <div class="clearfix">
        <a class="btn btn-outline-success float-right" href="{{url_for('checkout')}}"
           style="border-radius: 50%;">checkout</a>
        <span class="float-left" style=""><b>Total due: <i style="color: #557A46;">${{total_due}}</i></b></span>
    </div>
    <hr>
</div>

{% include "footer.html" %}