{% include "header.html" %}

<div class="container" style="padding-top: 75px;">
    {% if current_user.is_authenticated %}
        <span style="position: absolute; color: red; margin-left: 630px; margin-top: -60px;">{{ art_nbr }}</span>
    {% endif %}
    <!--    Site title-->
    <h4 style="color: #526D82; text-align: center; padding-bottom: 25px;">
        Welcome to High Quality Shoes (HQS)</h4>

    <!--    Search-bar-->
    <nav class="navbar" style="margin-bottom:40px;">
        <div class="container-fluid">
            <form action="{{ url_for('search') }}" method="post" class="d-flex" style="position: absolute; right: 0;">
                <input class="form-control me-2" type="search" placeholder="Search shoe's name" aria-label="Search"
                       name="search">
                <button class="btn btn-dark" type="submit"
                        style="height: 44px; border-radius: 5%; padding-bottom: 20px;"><i class="fas fa-search"></i>
                </button>
            </form>
        </div>
    </nav>

    <div class="col-lg-8 col-md-10 mx-auto content">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <!--    Posts layout-->
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-sm-1 g-100">

        {% for post in all_posts: %}
        <div class="col">
            <div class="card" style="border: none !important;">
                <a class="post-a" href="{{ url_for('show_post', post_id=post.id) }}">
                    <img src={{post.img_url1}} class="card-img-top"
                         style="width: 290px; height: 290px; border-radius: 10%;">
                </a>

                <div class="card-body">
                    <a class="post-a" href="{{ url_for('show_post', post_id=post.id) }}" style="text-decoration: none;">
                        <h5 class="post-subtitle">{{post.name}} </h5>
                    </a>
                    {{post.type}}
                    <hr>
                    <p class="post-meta">

                        ${{post.article_price}}

                        <b><a class="btn btn-success float-right" href="{{url_for('add_to_cart', post_id=post.id)}}"
                           style="text-decoration: none; border-radius: 5%; padding: 0 5px; text-transform: none;">Add to Cart</a></b><br>

                        <em class="float-left">{{post.available}}</em>

                        <b><a class="btn btn-primary float-right" href="{{url_for('cart')}}"
                           style="text-decoration: none; border-radius: 5%; padding: 0 5px; text-transform: none;">Go to Cart</a><br></b>
                    <hr>
                    {% if current_user.id == 1 %}
                    <a class="post-a" href="{{url_for('confirm_delete', post_id=post.id) }}"
                       style="text-decoration: none;">Delete Article</a>
                    {% endif %}

                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!--    New post-->
    {% if current_user.id == 1 %}
    <div class="clearfix">
        <a class="btn btn-outline-dark float-right" href="{{url_for('add_new_post')}}"
           style="border-radius: 50%;">Post a new Article</a>
    </div>
    {% endif %}
    <hr>
</div>

{% include "footer.html" %}


<!--<i class="fas fa-bags-shopping"></i>-->
<!--<i class="fas fa-shopping-bag"></i>-->
<!--<i class="fas fa-shopping-cart"></i>-->
<!--<i class="fas fa-shopping-basket"></i>-->