{% include "header.html" %}

<header class="masthead" style="background-image: url({{ url_for('static', filename='img/delete-bg.jpg')}})">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h3><em>"{{ post.name }}"</em> successfully deleted.</h3>
                    <a href="{{ url_for('get_all_posts') }}" class="btn btn-outline-success">Home page</a>
                </div>
            </div>
        </div>
    </div>
</header>

{% include "footer.html" %}